.popup-content {
    padding: 100px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.replay-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4c4c4c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.replay-button:hover {
    background-color: #45a049;
}
