.game-area {
    position: relative;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4c4c4c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #45a049;
}

.square-grid {
    display: table;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-button {
    width: 100px;
    height: 100px;
    background-color: #4c4c4c;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.square-button.highlight_right {
    background-color: #45a049; /* Highlight color */
    transition: background-color 0.3s ease-in-out;
}

.square-button.highlight_wrong {
    background-color: #dd1d1d; /* Highlight color */
    transition: background-color 0.3s ease-in-out;
}
