.game-area-AimTrainer {
    position: relative;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.start-window {
    position: relative;
    width: 50%;
    height: 30%;
    margin: 25% auto;
    background-color: #2c3e50;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.start-button {
    position: absolute;
    background-color: transparent;
    border: 2px solid #3498db;
    color: #3498db;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.start-button:hover {
    background-color: #3498db;
    color: white;
}


.countdown-number {
    font-size: 10rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: pulse 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;

    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;

    }
    100% {
        transform: scale(1);
        rotate: 720deg;
        opacity: 1;

    }
}